<!DOCTYPE html>

<!--  Version: index v 14... , see approx line 299  -->

<html lang="en">

<head>
    <title>Listo-429c</title>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  
    <!-- don't cache files. try to get fresh ones sooner. -->
    <!-- - -->
    <!-- <meta http-equiv='cache-control' content='max-age=61'> -->
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
  
    <!-- mobile styling -->
    <meta name="theme-color" content="#448AFF">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#448AFF">
    <meta name="apple-mobile-web-app-title" content="Note List">
  

  <!-- Material Design icons and fonts  -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Material Design styles for Vue.js  -->
<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.4/dist/vue-material.css">


  <style>

  body {
    background-color: #9e9e9e
  }
  
  [v-cloak] {
    display: none;
  }
  
  .md-theme-default.md-card {
    background-color: white !important;
    margin:5px
  }
  
  .md-card-content {
    border-top: 1px solid #ddd;
  }
  
  .md-card .md-card-content:last-child {
    padding-bottom:0px !important;
  }
  
  .md-theme-default.md-card a {
    color: #448aff !important;
  }
  
  .cardchecked {
    text-decoration: line-through;
    color: #ccc
  }
  
  .floatingbutton {
    position: fixed;
    bottom: 30px;
    right: 5px;
    z-index: 1000;
  }
  
  .main-toolbar{
    position:sticky;
    top:0px;
    z-index:1000;
  }
  
  .itemedit {
    background-color: white !important
  }

  </style>

<!-- our styles 
<link href="shoppinglist.css" type="text/css" rel="stylesheet" media="screen,projection" />
-->


<!-- PWA manifest -->
<link rel="manifest" href="manifest.json">
</head>
<body>


  <!-- Vue app -->
  <div id="app" class="app-viewport" v-cloak>



    <!-- top bar -->
    <md-whiteframe md-elevation="3" class="main-toolbar">
      <md-toolbar>
        <!-- back button -->
        <md-button class="md-icon-button" v-if="mode != 'showlist'" v-on:click="onBack">
          <md-icon>arrow_back</md-icon>
        </md-button>

        <!-- page title -->
        <h2 class="md-title" style="flex: 1">{{ pagetitle }}</h2>

        <!-- save new shopping list button -->
        <md-button class="md-icon-button" v-if="mode == 'addlist'" v-on:click="onClickSaveShoppingList" v-bind:disabled="singleList.title.length == 0">
          <md-icon>check</md-icon>
        </md-button>

        <!-- settings -->
        <md-button class="md-icon-button" v-if="mode == 'showlist'" v-on:click="onClickSettings">
          <md-icon>settings</md-icon>
        </md-button>
        <!-- about -->
        <md-button class="md-icon-button" v-if="mode == 'showlist'" v-on:click="onClickAbout">
          <md-icon>info_outline</md-icon>
        </md-button>

      </md-toolbar>
    </md-whiteframe> <!-- top bar -->


    <!-- main content -->
    <main class="main-content">



        <!-- add new shopping list form-->
        <md-card v-if="mode == 'addlist'">
          <!-- <md-card-header>Add List</md-card-header> -->
          <md-card-content>
            <!-- shopping list name -->
            <md-input-container>
              <label>List name</label>
              <md-input placeholder="e.g. Food" v-model="singleList.title"></md-input>
            </md-input-container>
  
            <!-- shopping list description - // Added title_description field here and on 'template shopping list object' in shoppinglist.js. David Gleba 2018-12-04a -->
            <md-input-container>
              <label>List Description</label>
              <md-input placeholder="Description of the list" v-model="singleList.title_description"></md-input>
            </md-input-container>
  
  
            <!-- shopping place name -->
            <md-input-container>
              <label>Place name</label>
              <md-input placeholder="e.g. Whole Foods, Reno" v-model="singleList.place.title"></md-input>
              <md-button class="md-raised" v-bind:disabled="singleList.place.title.length==0" v-on:click="onClickLookup">Lookup</md-button>
            </md-input-container>
  
            <!-- shopping place pull-down list -->
            <md-input-container v-if="places.length > 1">
              <label for="movie">Choose address</label>
              <md-select v-bind="selectedPlace" v-on:change="onChangePlace" v-bind:disabled="places.length == 0">
                <md-option v-for="place in places" :key="place.place_id" v-bind:value="place.place_id">{{
                  place.display_name }}</md-option>
              </md-select>
            </md-input-container>
  
            <!-- shopping place road -->
            <md-input-container v-if="singleList.place.address.road">
              <label>Road</label>
              <md-input readonly v-model="singleList.place.address.road"></md-input>
            </md-input-container>
  
            <!-- shopping place town -->
            <md-input-container v-if="singleList.place.address.town">
              <label>Town</label>
              <md-input readonly v-model="singleList.place.address.town"></md-input>
            </md-input-container>
  
            <!-- shopping place city -->
            <md-input-container v-if="singleList.place.address.city">
              <label>City</label>
              <md-input readonly v-model="singleList.place.address.city"></md-input>
            </md-input-container>
  
            <!-- shopping place state -->
            <md-input-container v-if="singleList.place.address.state">
              <label>State</label>
              <md-input readonly v-model="singleList.place.address.state"></md-input>
            </md-input-container>
  
            <!-- shopping place address -->
            <md-input-container v-if="singleList.place.address.postcode">
              <label>Postcode</label>
              <md-input readonly v-model="singleList.place.address.postcode"></md-input>
            </md-input-container>
  
            <!-- shopping place latitude -->
            <md-input-container v-if="singleList.place.lat != null">
              <label>Latitude</label>
              <md-input readonly v-model="singleList.place.lat"></md-input>
            </md-input-container>
  
            <!-- shopping place longitude -->
            <md-input-container v-if="singleList.place.lon != null">
              <label>Longitude</label>
              <md-input readonly v-model="singleList.place.lon"></md-input>
            </md-input-container>
  
            <!-- shopping place licence -->
            <md-input-container v-if="singleList.place.license">
              <label>Licence</label>
              <md-input readonly v-model="singleList.place.license"></md-input>
            </md-input-container>
  
          </md-card-content>
        </md-card> <!-- add new shopping list form -->
  
  
  
      <!-- shopping list item editor -->
      <md-list class="itemedit" v-if="mode == 'itemedit'">

        <!-- shopping list item add form -->
        <md-list-item>
          <!-- shopping item title -->
          <md-input-container>
            <md-input v-model="newItemTitle" placeholder="New item e.g. eggs" @keyup.enter.native="onAddListItem"></md-input>
          </md-input-container>

          <!-- shopping item add button -->
          <md-button class="md-icon-button md-list-action" v-on:click="onAddListItem" v-bind:disabled="newItemTitle.length == 0">
            <md-icon class="md-primary">add_shopping_cart</md-icon>
          </md-button>
        </md-list-item>

        <!-- shopping list items -->
        <md-list-item v-for="item in sortedShoppingListItems" :key="item._id" v-if="item.list == currentListId">

          <!-- checkbox against each item -->
          <div>
            <md-checkbox v-model="item.checked" class="md-primary" v-on:change="onCheckListItem(item._id)"></md-checkbox>
          </div>

          <!-- shopping list item title -->
          <div class="md-list-text-container">
            <span v-bind:class="{ cardchecked: item.checked}">{{ item.title }}</span>
          </div>

          <!-- shopping list item delete button -->
          <md-button v-on:click="onDeleteItem(item._id)" class="md-icon-button md-list-action">
            <md-icon>cancel</md-icon>
          </md-button>

          <md-divider></md-divider>
        </md-list-item>
      </md-list> <!-- shopping list item editor -->




      <!-- list of shopping lists -->
      <md-list v-if="mode == 'showlist'">
        <md-card v-for="list in sortedShoppingLists" :key="list._id" :data-id="list._id">
          <md-card-header>
            <!-- shopping list title -->
            <div class="md-title" v-bind:class="{ cardchecked: list.checked}">{{ list.title }}</div>

            <!-- shopping place title -->
            <div class="md-subhead">{{ list.place.title }}</div>

            <!-- 'speed dial' buttons -->
            <md-speed-dial md-open="hover" md-direction="left" class="md-fab-top-right">

              <!-- more ... button -->
              <md-button class="md-fab" md-fab-trigger>
                <md-icon md-icon-morph>more_vert</md-icon>
                <md-icon>more_horiz</md-icon>
              </md-button>

              <!-- edit button -->
              <md-button class="md-fab md-primary md-mini md-clean" v-on:click="onClickEdit(list._id, list.title)">
                <md-icon>edit</md-icon>
              </md-button>

              <!-- delete button -->
              <md-button class="md-fab md-primary md-mini md-clean" v-on:click="onClickDelete(list._id)">
                <md-icon>delete</md-icon>
              </md-button>
            </md-speed-dial>
          </md-card-header>

          <!-- counts of numbers of items in the list and numbers checked e.g 4/10 -->
          <md-card-content v-if="counts[list._id]">
            {{ counts[list._id].checked }} / {{ counts[list._id].total }}
          </md-card-content>

          <md-card-actions>
            <!-- button to edit the list items -->
            <md-button v-on:click="onClickList(list._id, list.title)">
              <md-icon>chevron_right</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </md-list> <!-- list of shopping list -->


      <!-- settings -->
      <md-card v-if="mode == 'settings'">
        <md-card-header>Settings</md-card-header>
        <md-card-content>
          You can sync your lists to a remote Apache CouchDB, IBM Cloudant or PouchDB server. Supply the URL, including
          credentials and database name and hit "Start Sync".

          <!-- Cloudant URL -->
          <md-input-container>
            <label>Sync URL</label>
            <md-input placeholder="e.g http://localhost:5984/list" type="url" v-model="syncURL"></md-input>
          </md-input-container>

          <h4>Sync Status</h4>

          <!-- visualisation of sync status -->
          <md-chip v-if="syncStatus == 'notsyncing'">Not Syncing</md-chip>
          <md-chip v-if="syncStatus == 'syncing'" class="md-primary">Syncing</md-chip>
          <md-chip v-if="syncStatus == 'syncerror'" class="md-warn">Sync Error</md-chip>
        </md-card-content>

        <md-card-actions>
          <!-- submit button that saves the Cloudant URL -->
          <md-button v-on:click="onClickStartSync">
            Start Sync
          </md-button>
        </md-card-actions>
      </md-card> <!-- settings -->



      <!-- about -->
      <md-card v-if="mode == 'about'">
        <md-card-header>About</md-card-header>
        <md-card-content>
          <a href="https://github.com/dgleba/listo429c"> https://github.com/dgleba/listo429c (or similar)</a> <u>Listolists
            is a Offline First app.
          </u> This particular app is a <b>Progressive Web App</b> built using <b>Vue.js and PouchDB</b>.
          <p> Index Version 23 </p>
        </md-card-content>

        <md-card-content>
          <span>JS info</span>
          <md-button class="md-icon-button" v-on:click="onClickjsinfo">
            <div>
              <md-icon>info_outline</md-icon>
            </div>
          </md-button>
        </md-card-content>

        <md-card-actions>
          <!-- No action -->
        </md-card-actions>
      </md-card> <!-- about -->




      <!-- floating 'add shopping list' button -->
      <div class="floatingbutton" v-if="mode == 'showlist'">
        <md-button class="md-fab md-primary md-raised" v-on:click="onClickAddShoppingList">
          <md-icon>add</md-icon>
        </md-button>
      </div> <!-- floating 'add shopping list' button -->

    </main> <!-- main content -->

  </div> <!-- app -->

<!--  JavaScript Scripts-->

<!-- <script src="worker-include.js"></script> -->

<!-- cuid - unique id generator -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cuid/1.3.8/browser-cuid.min.js"></script>

<!-- PouchDB - in-browser database -->
<script src="https://cdn.jsdelivr.net/gh/pouchdb/pouchdb@6.3.4/dist/pouchdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/pouchdb/pouchdb@6.3.4/dist/pouchdb.find.min.js"></script>

<!-- Vue.js - framework that handles DOM/Model interaction -->
<script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>

<!-- vue-material - Material Design for Vue.js -->
<script src="https://unpkg.com/vue-material@0.7.4/dist/vue-material.js"></script>
<!-- service worker -->
<script>

  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function () {
      navigator.serviceWorker.register('worker.js').then(function (registration) {
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function (err) {
        console.log('ServiceWorker registration failed: ', err);
      });
    });
}

</script>
<script>


// this will be the PouchDB database
var db = new PouchDB('shopping');

// template shopping list object
// Added title_description field here and on form. David Gleba 2018-12-04a
const sampleShoppingList = {
  "_id": "",
  "type": "list",
  "version": 1,
  "title": "",
  "title_description": "",
  "checked": false,
  "place": {
    "title": "",
    "license": null,
    "lat": null,
    "lon": null,
    "address": {}
  },
  "createdAt": "",
  "updatedAt": ""
};

// template shopping list item object
const sampleListItem = {
  "_id": "",
  "type": "item",
  "version": 1,
  "title": "",
  "checked": false,
  "createdAt": "",
  "updatedAt": ""
};

/**
 * Sort comparison function to sort an object by "createdAt" field
 *
 * @param  {String} a
 * @param  {String} b
 * @returns {Number}
 */
const newestFirst = (a, b) => {
  if (a.createdAt > b.createdAt) return -1;
  if (a.createdAt < b.createdAt) return 1;
  return 0
};

/**
 * Perform an "AJAX" request i.e call the URL supplied with the 
 * a querystring constructed from the supplied object
 *
 * @param  {String} url 
 * @param  {Object} querystring 
 * @returns {Promise}
 */
const ajax = function (url, querystring) {
  return new Promise(function (resolve, reject) {

    // construct URL
    var qs = [];
    for (var i in querystring) { qs.push(i + '=' + encodeURIComponent(querystring[i])) }
    url = url + '?' + qs.join('&');

    // make HTTP GET request
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == 4) {
        if (xmlhttp.status == 200) {
          var obj = JSON.parse(xmlhttp.responseText);
          resolve(obj);
        } else {
          reject(null);
        }
      }
    }
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
  });
};

// Vue Material plugin
Vue.use(VueMaterial);

// Vue Material theme
Vue.material.registerTheme('default', {
  primary: 'blue',
  accent: 'white',
  warn: 'red',
  background: 'grey'
});


// update js files ...
// https://stackoverflow.com/questions/1011605/clear-the-cache-in-javascript
// https://stackoverflow.com/a/5497508/2744870
// https://stackoverflow.com/a/10956125/2744870
// var torefreshs = ['shoppinglist.js', 'shoppinglist.css'] ; // list of js to be refresh


/* 
var scripts =  document.getElementsByTagName('script');
// var torefreshs = ['shoppinglist.js'] ; // list of js to be refresh
var torefreshs = ['shoppinglist.js', 'shoppinglist.css'] ; // list of js to be refresh
var key = 19; // change this key every time you want force a refresh
for(var i=0;i<scripts.length;i++){ 
   for(var j=0;j<torefreshs;j++){ 
      if(scripts[i].src && (scripts[i].src.indexOf(torefreshs[j]) > -1)){
        new_src = scripts[i].src.replace(torefreshs[j],torefreshs[j] + 'k=' + key );
        scripts[i].src = new_src; // change src in order to refresh js
      } 
   }
}
*/


/* 
var scripts =  document.getElementsByTagName('link');
var torefreshs = ['shoppinglist.js', 'shoppinglist.css'] ; // list of js to be refresh
var key = 20; // change this key every time you want force a refresh
for(var i=0;i<scripts.length;i++){ 
   for(var j=0;j<torefreshs;j++){ 
      if(scripts[i].src && (scripts[i].src.indexOf(torefreshs[j]) > -1)){
        new_src = scripts[i].src.replace(torefreshs[j],torefreshs[j] + 'k=' + key );
        scripts[i].src = new_src; // change src in order to refresh js
      } 
   }
}
 */


 

/* 
function reloadScripts(toRefreshList['shoppinglist.js', 'shoppinglist.css'] , 16 ) {
  var scripts = document.getElementsByTagName('script');
  for (var i = 0; i < scripts.length; i++) {
    var aScript = scripts[i];
    for (var j = 0; j < toRefreshList.length; j++) {
      var toRefresh = toRefreshList[j];
      if (aScript.src && (aScript.src.indexOf(toRefresh) > -1)) {
        new_src = aScript.src.replace(toRefresh, toRefresh + '?k=' + key);
        // console.log('Force refresh on cached script files. From: ' + aScript.src + ' to ' + new_src)
        aScript.src = new_src;
      }
    }
  }
}
*/// ===================================================


// Main vue app


// this is the Vue.js app. It contains
// el - the HTML element where the app is rendered
// data - the data the app needs to be rendered
// computed - derived data required for the display logic
// method - JavaScript functions
var app = new Vue({
    el: '#app',

 

  data: {
    mode: 'showlist',
    pagetitle: 'Note Lists',
    shoppingLists: [],
    shoppingListItems: [],
    singleList: null,
    currentListId: null,
    newItemTitle: '',
    places: [],
    selectedPlace: null,
    syncURL: '',
    syncStatus: 'notsyncing'
  },


  // ===================================================

  //   Computed..



  // computed functions return data derived from the core data.
  // if the core data changes, then this function will be called too.
  computed: {
    /**
     * Calculates the counts of items and which items are checked
     * grouped by shopping list
     * 
     * @returns {Object}
     */
    counts: function () {
      var obj = {};
      // count #items and how many are checked
      for (var i in this.shoppingListItems) {
        var d = this.shoppingListItems[i];
        if (!obj[d.list]) {
          obj[d.list] = { total: 0, checked: 0 };
        }
        obj[d.list].total++;
        if (d.checked) {
          obj[d.list].checked++;
        }
      }
      return obj;
    },
    /**
     * Calculates the shopping list but sorted into
     * date order - newest first
     * 
     * @returns {Array}
     */
    sortedShoppingLists: function () {
      return this.shoppingLists.sort(newestFirst);
    },
    /**
     * Calculates the shopping list items but sorted into
     * date order - newest first
     * 
     * @returns {Array}
     */
    sortedShoppingListItems: function () {
      return this.shoppingListItems.sort(newestFirst);
    }
  },

  // ===================================================

  //   find list  -  default initial code to run.


  /**
   * Called once when the app is first loaded
   */
  created: function () {

    // create database index on 'type'
    db.createIndex({ index: { fields: ['type'] } }).then(() => {

      // load all 'list' items 
      var q = {
        selector: {
          type: 'list'
        }
      };
      return db.find(q);
    }).then((data) => {

      // write the data to the Vue model, and from there the web page
      app.shoppingLists = data.docs;

      // get all of the shopping list items
      var q = {
        selector: {
          type: 'item'
        }
      };
      return db.find(q);
    }).then((data) => {
      // write the shopping list items to the Vue model  ---- List saved to model
      app.shoppingListItems = data.docs;

      // load settings (Cloudant sync URL)
      return db.get('_local/user');
    }).then((data) => {
      // if we have settings, start syncing
      this.syncURL = data.syncURL;
      this.startSync();
    }).catch((e) => { })

  },
  // ===================================================

  // methods.

  methods: {

    // some js to check if the js part of the app updated...
    onClickjsinfo: function () {
      alert("JS version is v 23");
    },    

    /**
     * Called when the settings button is pressed. Sets the mode
     * to 'settings' so the Vue displays the settings panel.
     */
    onClickSettings: function () {
      this.mode = 'settings';
    },
    /**
     * Called when the about button is pressed. Sets the mode
     * to 'about' so the Vue displays the about panel.
     */
    onClickAbout: function () {
      this.mode = 'about';
    },

    /**
     * Saves 'doc' to PouchDB. It first checks whether that doc
     * exists in the database. If it does, it overwrites it - if
     * it doesn't, it just writes it. 
     * @param {Object} doc
     * @returns {Promise}
     */
    saveLocalDoc: function (doc) {
      return db.get(doc._id).then((data) => {
        doc._rev = data._rev;
        return db.put(doc);
      }).catch((e) => {
        return db.put(doc);
      });
    },



    // ===================================================

    // Sync:


    /**
     * Called when sync button on the settings panel is clicked. The
     * Cloudant sync URL is saved in PouchDB and the sync process starts.
     */
    onClickStartSync: function () {
        var obj = {
          '_id': '_local/user',
          'syncURL': this.syncURL
        };
        this.saveLocalDoc(obj).then(() => {
          this.startSync();
        });
      },
      /**
       * Called when the sync process is to start. Initiates a PouchDB to
       * to Cloudant two-way sync and listens to the changes coming in
       * from the Cloudant feed. We need to monitor the incoming change
       * so that the Vue.js model is kept in sync.
       */
      startSync: function () {
        this.syncStatus = 'notsyncing';
        if (this.sync) {
          this.sync.cancel();
          this.sync = null;
        }
        if (!this.syncURL) { return; }
        this.syncStatus = 'syncing';
        this.sync = db.sync(this.syncURL, {
          live: true,
          retry: true
        }).on('change', (info) => {
          // handle change
          // if this is an incoming change
          if (info.direction == 'pull' && info.change && info.change.docs) {
  
            // loop through all the changes
            for (var i in info.change.docs) {
              var change = info.change.docs[i];
              var arr = null;
  
              // see if it's an incoming item or list or something else
              if (change._id.match(/^item/)) {
                arr = this.shoppingListItems;
              } else if (change._id.match(/^list/)) {
                arr = this.shoppingLists;
              } else {
                continue;
              }
  
              // locate the doc in our existing arrays
              var match = this.findDoc(arr, change._id);
  
              // if we have it already 
              if (match.doc) {
                // and it's a deletion
                if (change._deleted == true) {
                  // remove it
                  arr.splice(match.i, 1);
                } else {
                  // modify it
                  delete change._revisions;
                  Vue.set(arr, match.i, change);
                }
              } else {
                // add it
                if (!change._deleted) {
                  arr.unshift(change);
                }
              }
            }
          }
        }).on('error', (e) => {
          this.syncStatus = 'syncerror';
        }).on('denied', (e) => {
          this.syncStatus = 'syncerror';
        }).on('paused', (e) => {
          if (e) {
            this.syncStatus = 'syncerror';
          }
        });;
      },
      // ===================================================

    // find:


    /**
     * Given a list of docs and an id, find the doc in the list that has
     * an '_id' (key) that matches the incoming id. Returns an object 
     * with the 
     *   i - the index where the item was found
     *   doc - the matching document
     * @param {Array} docs
     * @param {String} id
     * @param {String} key
     * @returns {Object}
     */
    findDoc: function (docs, id, key) {
        if (!key) {
          key = '_id';
        }
        var doc = null;
        for (var i in docs) {
          if (docs[i][key] == id) {
            doc = docs[i];
            break;
          }
        }
        return { i: i, doc: doc };
      },
  
      /**
       * Given a list of docs and an id, find the doc in the list that has
       * an '_id' (key) that matches the incoming id. Updates its "updatedAt"
       * attribute and write it back to PouchDB.
       *   i - the index where the item was found
       *   doc - the matching document
       * @param {Array} docs
       * @param {String} id
  
       */
      findUpdateDoc: function (docs, id) {
  
        // locate the doc
        var doc = this.findDoc(docs, id).doc;
  
        // if it exits
        if (doc) {
  
          // modift the updated date
          doc.updatedAt = new Date().toISOString();
  
          // write it on the next tick (to give Vue.js chance to sync state)
          this.$nextTick(() => {
  
            // write to database
            db.put(doc).then((data) => {
  
              // retain the revision token
              doc._rev = data.rev;
            });
          });
        }
      },
    // ===================================================


    // add main list


    /**
     * Called when the user clicks the Add Shopping List button. Sets
     * the mode to 'addlist' to reveal the add shopping list form and
     * resets the form variables.
     */
    onClickAddShoppingList: function () {

        // open shopping list form
        this.singleList = JSON.parse(JSON.stringify(sampleShoppingList));
        this.singleList._id = 'list:' + cuid();
        this.singleList.createdAt = new Date().toISOString();
        this.pagetitle = 'New Note List';
        this.places = [];
        this.selectedPlace = null;
        this.mode = 'addlist';
      },
  
      /**
       * Called when the Save Shopping List button is pressed.
       * Writes the new list to PouchDB and adds it to the Vue 
       * model's shoppingLists array
       */
      onClickSaveShoppingList: function () {
  
        // add timestamps
        this.singleList.updatedAt = new Date().toISOString();
  
        // add to on-screen list, if it's not there already
        if (typeof this.singleList._rev === 'undefined') {
          this.shoppingLists.unshift(this.singleList);
        }
  
        // write to database
        db.put(this.singleList).then((data) => {
          // keep the revision tokens
          this.singleList._rev = data.rev;
  
          // switch mode
          this.onBack();
        });
      },
  
      /**
       * Called when the Back button is pressed. Returns to the
       * home screen with a lit of shopping lists.
       */
      onBack: function () {
        this.mode = 'showlist';
        this.pagetitle = 'Note Lists';
      },
  
  
      // ===================================================
  
  
      //  Edit main list
  
  
      /**
       * Called when the Edit button is pressed next to a shopping list.
       * We locate the list document by id and change mode to "addlist",
       * pre-filling the form with that document's details.
       * @param {String} id
       * @param {String} title
       */
      onClickEdit: function (id, title) {
        this.singleList = this.findDoc(this.shoppingLists, id).doc;
        this.pagetitle = 'Edit - ' + title;
        this.places = [];
        this.selectedPlace = null;
        this.mode = 'addlist';
      },
  
      // ===================================================
  
  
      //  Delete main list
  
  
      /**
       * Called when the delete button is pressed next to a shopping list.
       * The shopping list document is located, removed from PouchDB and
       * removed from Vue's shoppingLists array.
       * @param {String} id
       */
      onClickDelete: function (id) {
        var match = this.findDoc(this.shoppingLists, id);
        let delconfm = confirm("Are you sure you want to delete?");
        if (delconfm == true) {
          // delete the record if confirmed 
          db.remove(match.doc).then(() => {
            this.shoppingLists.splice(match.i, 1);
          });
        }
      },
  
  
      // ===================================================
  
    //  list items


    // the user wants to see the contents of a shopping list
    // we load it and switch views
    /**
     * Called when the user wants to edit the contents of a shopping list.
     * The mode is set to 'itemedit'. Vue's currentListId is set to this list's
     * id field.
     * @param {String} id
     * @param {String} title
     */
    onClickList: function (id, title) {
        this.currentListId = id;
        this.pagetitle = title;
        this.mode = 'itemedit';
      },
  
      /**
       * Called when a new shopping list item is added. A new shopping list item
       * object is created with a unique id. It is written to PouchDB and added
       * to Vue's shoppingListItems array
       */
      onAddListItem: function () {
        if (!this.newItemTitle) return;
        var obj = JSON.parse(JSON.stringify(sampleListItem));
        obj._id = 'item:' + cuid();
        obj.title = this.newItemTitle;
        obj.list = this.currentListId;
        obj.createdAt = new Date().toISOString();
        obj.updatedAt = new Date().toISOString();
        db.put(obj).then((data) => {
          obj._rev = data.rev;
          this.shoppingListItems.unshift(obj);
          this.newItemTitle = '';
        });
      },
  
  
      /**
       * Called when an item is checked or unchecked from a shopping list.
       * The item is located and written to PouchDB
       * @param {String} id
       */
      onCheckListItem: function (id) {
        this.findUpdateDoc(this.shoppingListItems, id);
      },
  
      /**
       * Called when an item is deleted from a shopping list. We locate the item
       * in the list, delete it from PouchDB and remove it from the shoppingListItems
       * Vue array.
       * @param {String} id
       */
      onDeleteItem: function (id) {
        var match = this.findDoc(this.shoppingListItems, id);
        db.remove(match.doc).then((data) => {
          this.shoppingListItems.splice(match.i, 1);
        });
      },

      

    // ===================================================


    //  lookup place location


    /**
     * Called when the Lookup button is pressed. We make an API call to 
     * OpenStreetMap passing in the user-supplied name of the place. If
     * the API returns something, the options are added to Vue's "places"
     * array and become a pull-down list of options on the front end.
     */
    onClickLookup: function () {

        // make request to the OpenStreetMap API
        var url = 'https://nominatim.openstreetmap.org/search';
        var qs = {
          format: 'json',
          addressdetails: 1,
          namedetails: 1,
          q: this.singleList.place.title
        };
        ajax(url, qs).then((d) => {
  
          // add the list of places to our list
          this.places = d;
  
          // if there is only one item in the list
          if (d.length == 1) {
            // simulate selection of first and only item
            this.onChangePlace(d[0].place_id);
          }
        });
  
      },
  
      // when a place is selected from the list, we find the object in the list
      // and copy the lat/long, licence and name over to our database
      /**
       * Called when an item is selected from the places pull-down list. The
       * place is found in the "places" array and its lat/long, licnece and 
       * address are moved to the Vue object linked with the front-end form.
       * @param {String} v
       */
      onChangePlace: function (v) {
        var doc = this.findDoc(this.places, v, 'place_id').doc;
        this.singleList.place.lat = doc.lat;
        this.singleList.place.lon = doc.lon;
        this.singleList.place.license = doc.licence;
        this.singleList.place.address = doc.address;
      }
  
  // end methods.
  }

// end vue app
})

</script>
</body>

</html>