
      <!-- shopping list item editor -->
      <md-list class="itemedit" v-if="mode == 'itemedit'">

        <!-- shopping list item add form -->
        <md-list-item>
          <!-- shopping item title -->
          <md-input-container>
            <md-input v-model="newItemTitle" placeholder="New item e.g. eggs" @keyup.enter.native="onAddListItem"></md-input>
          </md-input-container>

          <!-- shopping item add button -->
          <md-button class="md-icon-button md-list-action" v-on:click="onAddListItem" v-bind:disabled="newItemTitle.length == 0">
            <md-icon class="md-primary">add_shopping_cart</md-icon>
          </md-button>
        </md-list-item>

        <!-- shopping list items -->
        <md-list-item v-for="item in sortedShoppingListItems" :key="item._id" v-if="item.list == currentListId">

          <!-- checkbox against each item -->
          <div>
            <md-checkbox v-model="item.checked" class="md-primary" v-on:change="onCheckListItem(item._id)"></md-checkbox>
          </div>

          <!-- shopping list item title -->
          <div class="md-list-text-container">
            <span v-bind:class="{ cardchecked: item.checked}">{{ item.title }}</span>
          </div>

          <!-- shopping list item delete button -->
          <md-button v-on:click="onDeleteItem(item._id)" class="md-icon-button md-list-action">
            <md-icon>cancel</md-icon>
          </md-button>

          <md-divider></md-divider>
        </md-list-item>
      </md-list> <!-- shopping list item editor -->


