
.md-list {
    width: 320px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 3px solid rgba(#000, .12);
    background-color: white
  }




/* from shopping lists */

body {
  background-color: #9e9e9e
}

.md-theme-default.md-card {
  background-color: white !important;
  margin:20px
}

.main-toolbar{
  position:sticky;
  top:0px;
  z-index:1000;
}

.floatingbutton {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1000;
}

.itemedit {
  background-color: white !important
}

.cardchecked {
  text-decoration: line-through;
  color: #ccc
}